* {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}


h1 {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 55px;
  text-align: center;
  align-items: center;
}



header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

nav {
  text-align: end;
  padding: 12px;
  align-items: center;
}


nav ul li {
  list-style: none;
  display: inline;
  width: 5px;
  margin-right: 10px;
}

nav a.active {
  text-decoration: underline;
}

nav a:hover {
  text-decoration: underline;
}

div {
  width: 100%;
}



footer {
  justify-content: space-between;
  font-weight: bold;
  color: black;
}



.footerstart {
  margin-top: 45%;
}

.footerbilder {
  margin-top: 60%;
}

a {
  color: black;
}

a:hover {
  color: gray;
}

.bg {
  background-image: url("/img/photo-1509023064510-ac5c5309a352.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {

  height: 100%;
}

video {
  padding-top: 80px;
  padding-bottom: 5px;
  display: block;
  margin: auto;
}

.top3 {
  padding-top: 1000px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  background-color: white;
}



.lorem {
  margin-right: 30px;
  column-count: 3;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 1px;
}

.alert-info {
  
  background-color: #f8c335;
  text-align: center
}

.eXXtra {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.extra {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.alert-info1 {
  background-color: #da202c;
  text-align: center;
  margin-top: 20px;
}

.btn-outline-primary {
  display: block;
  margin: auto;
}

.discover {
  padding-top: 5px;
  text-align: center;
  display: block;
  margin: auto;
}

.credits {
  padding-top: 5px;
  padding-bottom: 65px;
  text-align: center;
  display: block;
  margin: auto;
}

.logo {

  padding: 10px;
}

.links {
  text-align: left;
}

.mitte {
  text-align: center;

}

.rechts {
  text-align: right;

}